*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets
/app/src/main/jniLibs
/app/src/main/cpp/.vscode
/app/src/main/cpp/speech_to_image/src/LogMel/include/log_mel_spectrogram.hpp
/app/src/main/cpp/speech_to_image/src/LogMel/include/wavreader.h
/app/src/main/cpp/speech_to_image/src/LogMel/src/log_mel_spectrogram.cpp
/app/src/main/cpp/speech_to_image/src/LogMel/src/wavreader.cpp
/app/src/main/cpp/speech_to_image/src/Utils/stb_image_write.h